version: "3.8"

services:
  postgres:
    image: postgres:14
    container_name: saoviet-api-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: asc_api
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: saoviet-api-redis
    ports:
      - "6379:6379"

volumes:
  pgdata: {}


